UploadHelper/obj/
UploadHelper/bin/Debug/net8.0-windows/UploadHelper.deps.json
UploadHelper/bin/Debug/net8.0-windows/UploadHelper.dll
UploadHelper/bin/Debug/net8.0-windows/UploadHelper.exe,UploadHelper/bin/Debug/net8.0-windows/UploadHelper.pdb,UploadHelper/bin/Debug/net8.0-windows/UploadHelper.runtimeconfig.json
